<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Market</title>
      {% else %}
      <title>Welcome to Market</title>
      {% endif %}
    </head>
    <body>
        <div>Market:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                Logged in as {{ current_user.username }}
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('logout') }}">Logout me</a>
            {% endif %}
        </div>
        {%  with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
            {% endif %}
        {% endwith %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>